{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% block titulo %} Registro de almacen {% endblock %}
{% block titulo2 %} Registro de almacen nuevo {% endblock %}

{% block contenido %}
<form method="POST">
{% csrf_token %}
<div class="row">
    <div class="col-lg-6">
        <p class="card-description"> Nombre del almacen *</p>
        <div class="form-group">
            <div class="input-group">
            <div class="input-group-prepend bg-info">
                <span class="input-group-text bg-transparent">
                <i class="fa fa-user text-white"></i>
                </span>
            </div>
                {% render_field form.NombreAlmacen class+="form-control" type="text" placeholder="Coloca el nombre" aria-describedby="colored-addon1"%}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
    <p class="card-description"> Ubicación *</p>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend bg-info">
                    <span class="input-group-text bg-transparent">
                        <i class="fa fa-road text-white"></i>
                    </span>
                </div>
                {% render_field form.Ubicacion class+="form-control" type="text" placeholder="Coloca la ubicación" aria-describedby="colored-addon1"%}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
    <button type="submit" class="btn btn-success mr-2"><i class="fa fa-plus"></i> Registrar</button>
    </div>
</div>
</form>
{% endblock %}