{% if latest_almacen_list %}
    <ul>
    {% for inventario in latest_almacen_list %}
        <li><a href="/sucursal/editar/{{ inventario.IdAlmacen }}">{{ inventario.NombreAlmacen }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay almacenes disponibles.</p>
{% endif %}

{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% block titulo %} Listado de almacenes {% endblock %}
{% block titulo2 %} Listado de almacenes {% endblock %}

{% block contenido %}
<div class="row">
    
</div>
{% endblock %}